name: Build

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to build"
        required: true

defaults:
  run:
    shell: bash

jobs:
  info:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.info.outputs.version }}
      prerelease: ${{ steps.info.outputs.prerelease }}
    steps:
      - name: Determine information
        id: info
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const version = ${{ toJson(github.event.inputs.version) }};

            core.setOutput('version', version);
            core.setOutput('prerelease', version.includes('-'));

  build:
    needs:
      - info
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            device: cpu
          - os: windows-latest
            device: cuda
          # - os: macos-latest
          #   device: cpu
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          working-directory: ./zundamon-speech-setup

      - name: Cache setup
        id: cache_key
        run: |
          echo -n "cache_key=" >> $GITHUB_OUTPUT
          echo -n ${{ runner.os }}- >> $GITHUB_OUTPUT
          echo -n ${{ matrix.device }}- >> $GITHUB_OUTPUT
          git submodule status | cut -d' ' -f2 | tr '\n' '-' >> $GITHUB_OUTPUT
          echo -n "${{ hashFiles('./zundamon-speech-setup/*') }}" >> $GITHUB_OUTPUT

      - name: Cache restore
        uses: actions/cache@v4
        id: cache
        with:
          key: ${{ steps.cache_key.outputs.cache_key }}
          path: ./zundamon-speech

      - name: Cache pip
        uses: actions/cache@v4
        if: runner.os == 'windows-latest'
        with:
          path: ~/AppData/Local/pip/Cache
          key: pip-${{ runner.os }}-${{ matrix.device }}-v0

      - name: Setup zundamon-speech
        run: |
          if [ -z "${{ steps.cache.outputs.cache-hit }}" ]; then
            echo "Cache miss"
            cd zundamon-speech-setup
            ZTS_DEVICE=${{ matrix.device }} rake setup
          else
            echo "Cache hit"
            git restore ./zundamon-speech
          fi

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Install dependencies
        run: pnpm install

      - name: Cache archive repository
        uses: actions/cache@v4
        with:
          key: archive-repository-${{ runner.os }}-${{ matrix.device }}-v0
          path: |
            ./dist-packed/repository

      - name: Build
        id: build
        run: |
          cargo install cargo-vcpkg
          cargo vcpkg build --release
          pnpm run build ${{ needs.info.outputs.version }} ${{ matrix.device }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ steps.build.outputs.assets }}
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ needs.info.outputs.version }}
          prerelease: true
          draft: false
          body: |
            `-installer.exe` がインストーラーです。それ以外のファイルは通常ダウンロードする必要はありません。

            CPU版：`...-cpu-installer.exe`
            GPU版：`...-cuda-installer.exe` （CUDA対応のGPUが必要です）

  mark-as-release:
    runs-on: ubuntu-latest
    needs:
      - info
      - build
    if: needs.info.outputs.prerelease == 'false'
    permissions:
      contents: write
      actions: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Mark as release
        run: |
          echo "Marking ${{ needs.info.outputs.version }} as release"
          gh release edit ${{ needs.info.outputs.version }} --latest --prerelease=false
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up pnpm
        uses: pnpm/action-setup@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"

      - name: Update App.vue
        run: |
          pnpm i
          pnpm run tools:setVersion ${{ needs.info.outputs.version }}

      - name: Commit changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add landing/src/App.vue
          git add landing/public/version.json
          git commit -m "chore(landing): ${{ needs.info.outputs.version }} に更新"
          git push

      - name: Run workflow
        run: gh workflow run pages.yml
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
