name: Build

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to build"
        required: true

defaults:
  run:
    shell: bash

jobs:
  build:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            device: cpu
          - os: windows-latest
            device: cuda
          # - os: macos-latest
          #   device: cpu
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v2

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: "pnpm"

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          working-directory: ./zundamon-speech-setup

      - name: Cache setup
        id: cache_key
        run: |
          echo -n "cache_key=" >> $GITHUB_OUTPUT
          echo -n ${{ runner.os }}- >> $GITHUB_OUTPUT
          echo -n ${{ matrix.device }}- >> $GITHUB_OUTPUT
          git submodule status | cut -d' ' -f2 | tr '\n' '-' >> $GITHUB_OUTPUT
          echo -n "${{ hashFiles('./zundamon-speech-setup/*') }}" >> $GITHUB_OUTPUT

      - name: Cache restore
        uses: actions/cache@v4
        id: cache
        with:
          key: ${{ steps.cache_key.outputs.cache_key }}
          path: ./zundamon-speech

      - name: Setup zundamon-speech
        run: |
          if [ -z "${{ steps.cache.outputs.cache-hit }}" ]; then
            echo "Cache miss"
            cd zundamon-speech-setup
            ZTS_DEVICE=${{ matrix.device }} rake setup
          else
            echo "Cache hit"
            git restore ./zundamon-speech
          fi

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Install dependencies
        run: pnpm install

      - name: Determine information
        id: info
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const version = ${{ toJson(github.event.inputs.version) }};

            core.setOutput('version', version);

      - name: Build
        id: build
        run: |
          pnpm run build ${{ steps.info.outputs.version }} ${{ matrix.device }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ steps.build.outputs.assets }}
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ steps.info.outputs.version }}
          prerelease: true
          draft: false
          body: |
            `-installer.exe` がインストーラーです。それ以外のファイルは通常ダウンロードする必要はありません。

            CPU版：`...-cpu-installer.exe`
            GPU版：`...-cuda-installer.exe` （CUDA対応のGPUが必要です）

  remove-prerelease:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Determine information
        id: info
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const version = ${{ toJson(github.event.inputs.version) }};

            core.setOutput('version', version);
            core.setOutput('prerelease', version.includes('-'));
      - name: Mark as release
        if: steps.info.outputs.prerelease == 'false'
        run: |
          echo "Marking ${{ steps.info.outputs.version }} as release"
          gh release edit ${{ steps.info.outputs.version }} --latest --prerelease=false
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
